// Mixins Here

@base-color: rgb(0, 175, 137);
@font-size: 16px;
@size: 4px;

//Base style for button and text classes
.buttons(@background){
    border-radius: 10px;
    background: teal;
    padding: 5%; 
    width: 75%;
    text-align: center;
    color: white;
  
  }

  .sizing(@border-radius; @height; @width){
    border-radius: @border-radius;
    height: @height;
    width: @width;
    }
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    background-color: darkgrey;
    .sizing(15px; 4rem; 20rem)
  }
  .mbl-img{
    width: 80%;
    height: 80%;
  } 